@import "src/styles/_settings";

.faq {
  margin: auto;
  margin-top: 10%;
  width: 80%;
  max-width: 1200px;
  display: grid;
  gap: 85px;
  grid-template-columns: 1fr 1.6fr;
  position: relative;

  &__circle-upper {
    @include circle-styles($circle-primary);
    top: 24%;
    left: -8%;
  }

  &__circle-lower {
    @include circle-styles($circle-secondary);
    top: 8%;
    left: -18%;
  }

  &__title {
    font-size: 32px;
    line-height: 42px;
    font-weight: 700;
    margin: 0px;

    &::after {
      content: "MichiCONF";
      background: -webkit-linear-gradient($primary-gradient);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  &__description {
    margin-top: 16px;
    line-height: 24px;
    font-size: 16px;
    font-weight: 300;
    color: #cdced0;
  }

  &__menu {
    .accordion__item {
      border-bottom: 1px solid #3e3f40;
      padding: 32.5px 0px 24.5px 0px;

      &:first-child {
        padding-top: 0px;
      }

      .accordion__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        border-radius: 8px;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;

        .accordion__title-text {
          margin: 0;
          font-size: 20px;
          font-weight: 500;
          line-height: 20px;
        }

        .accordion__icon {
          font-size: 24px;
          font-weight: 700;
          color: $primary-color;
        }

        .close {
          color: #939598;
          font-weight: 300;
        }
      }

      .accordion__content {
        padding-top: 12px;
        font-size: 16px;
        line-height: 24px;
        font-weight: 300;
        color: #cdced0;
      }
    }
  }

  &__paws {
    position: absolute;
    top: 38%;
    right: -18%;
    z-index: -3;
    transform: translateX(-10%);
    transform: translateY(-10%);
    width: 48%;
    max-width: 536px;
  }
}

@media (max-width: 1023px) {
  .faq {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-top: 15%;
    margin-bottom: 15%;
    width: 90%;
    max-width: 500px;
    &__circle-upper {
      top: -6%;
      left: -20%;
    }

    &__circle-lower {
      top: -18%;
      left: -35%;
    }

    &__paws {
      position: absolute;
      top: 74%;
      right: 5%;
      transform: translateX(-10%);
      width: 90vw;
      rotate: 50deg;
      max-width: 400px;
    }
  }
}
