@import "src/styles/_settings";
@import "src/styles/_mixins";

.highlights {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  width: 80%;
  max-width: 1200px;
  position: relative;

  &__decoration {
    position: absolute;
    height: 1017px;
    margin-left: 319px;
    margin-top: 148px;
    z-index: -4;
  }

  &__title {
    margin: 0px;
    font-size: 40px;
    line-height: 120%;
    font-weight: 700;
  }

  &__description {
    margin-top: 12px;
    margin-bottom: 56px;
    padding-right: 64px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    color: #cdced0;
  }

  &__list {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 32px;
    list-style-type: none;
    padding: 0;
  }

  &__item {
    display: flex;
    color: #a9aaad;
  }

  &__number {
    font-size: 48px;
    font-weight: 300;
    min-width: 68px;

    &::before {
      content: "0";
    }
  }

  &__text {
    font-size: 18px;
    line-height: 170%;
    min-width: 364px;
    align-self: center;
    font-weight: 300;
  }

  &__item--active {
    display: flex;
  }

  &__number--active {
    font-size: 48px;
    font-weight: 500;
    min-width: 68px;
    @include main-gradient;

    &::before {
      content: "0";
    }
  }

  &__text--active {
    font-size: 18px;
    line-height: 170%;
    min-width: 364px;
    align-self: center;
    font-weight: 700;
    @include main-gradient;
  }

  &__text--active::before,
  &__text::before {
    content: "";
    margin-left: 8px;
  }

  &__panel {
    position: relative;
    max-height: 475px;
    width: auto;
    background-color: rgba($color: #1d1e22, $alpha: 0.6);
    border-radius: 24px;
    z-index: -2;
    margin-top: 61px;
  }

  &__border {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 24px;
    border: 1px solid transparent;
    background: linear-gradient(
        229deg,
        rgba(192, 0, 255, 1) 0%,
        rgba(0, 188, 177, 1) 100%
      )
      border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
    opacity: 50%;
    z-index: -1;
  }

  &__description-panel {
    margin: 10% 45% 60% 5%;
    font-size: 18px;
    font-weight: 300;
    color: #a9aaad;
    z-index: 1;
    line-height: 26px;
  }

  &__cat {
    position: absolute;
    bottom: -34px;
    right: 10%;
    transform: translateX(20%);
    max-height: 341px;
    object-fit: contain;
    width: 70%;
    z-index: 2;
    height: auto;
    min-width: 300px;
  }

  &__circle {
    width: min(24vw, 390px);
    height: min(24vw, 390px);
    border-radius: 50%;
    background-color: $circle-primary;
    opacity: 0.24;
    position: absolute;
    top: -15%;
    right: -15%;
    z-index: -1;
    filter: drop-shadow(-49px 93px 11px rgba(176, 99, 212, 0.08)) blur(50px);
  }

  &__paws {
    position: absolute;
    top: 65%;
    left: -70%;
    z-index: -3;
    transform: translateX(-10%);
    transform: translateY(-10%);
    width: 115%;
    max-width: 643px;
  }

  &__star {
    position: absolute;
    top: -6%;
    left: -11%;
    transform: translateX(10%);
    width: 9%;
    max-width: 50px;
  }
}

@media (max-width: 1023px) {
  .highlights {
    grid-template-columns: 1fr;
    width: 90%;
    max-width: 500px;

    &__title {
      font-size: 24px;
      line-height: 42px;
    }

    &__description {
      padding-right: 0;
      margin-bottom: 24px;
    }

    &__paws {
      display: none;
    }

    &__panel {
      position: relative;
      max-height: 455px;
      width: auto;
      background-color: rgba($color: #1d1e22, $alpha: 0.6);
      border-radius: 24px;
      z-index: -2;
      margin-top: 24px;
    }

    &__text {
      min-width: 0px;
    }

    &__text--active {
      min-width: 0px;
    }

    &__border {
      position: absolute;
      height: 100%;
      width: 100%;
    }

    &__navigation {
      display: flex;
      margin-top: 60px;
      max-width: 500px;
      justify-content: space-between;
    }

    &__button {
      border: 1px solid #12c6b0;
      border-radius: 16px;
      background-color: transparent;
      padding: 8px 10px;
      height: 40px;
      width: 40px;
    }

    &__right {
      rotate: 180deg;
    }

    &__star {
      position: absolute;
      top: -45%;
      left: 91%;
      transform: translateX(10%);
      width: 9%;
      min-width: 50px;
    }

    &__description-panel {
      margin: 0px;
      padding: 32px 18% 90% 10%;
      font-size: 18px;
      font-weight: 300;
      color: #a9aaad;
      z-index: 1;
      line-height: 26px;
    }

    &__cat {
      right: 50%;
      transform: translateX(50%);
    }

    &__circle {
      width: min(40vw, 250px);
      height: min(40vw, 250px);
      top: -8%;
      right: -12%;
      opacity: 0.34;
    }

    &__dots-container {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      gap: 12px;
    }

    &__dot {
      border-radius: 32px;
      background-color: #008d85;
      opacity: 0.5;
      width: 16px;
      height: 8px;
    }

    &__dot--active {
      border-radius: 32px;
      background-color: #00BCB1;
      opacity: 1;
      width: 40px;
      height: 8px;
    }
  }
}
