@import "src/styles/_settings";

.speakers {
    position: relative;

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    column-gap: 20px;
    row-gap: 24px;
    margin-left: 148px;
    margin-right: 148px;
  }

  &__title {
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 48px;
  }

  &__signup-button {
    display: flex;
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 102px;
  }

  &__decoration {
    position: absolute;
    margin-top: 138px;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100vw;
  }
}
