$background-color: #030406;
$primary-color: #ffffff;
$secondary-color: #ad00e6;
$tertiary-color: #00bcb1;
$card-background: #333438;
$primary-gradient: 0deg, rgba(192, 0, 255, 1) 0%, rgba(0, 188, 177, 1) 100%;

@import "https://fonts.googleapis.com/css2?family=Readex+Pro:wght@160..700&display=swa";

body {
  background-color: $background-color;
  font-family: "Readex Pro", sans-serif;
  color: $primary-color;
  margin: 0px;
  p {
    margin: 0px;
  }
}
