@import "src/styles/_settings";

.footer {
  background-color: #131416;
  position: relative;

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 6% 0px 4% 0px;
    margin: auto;
    width: 80vw;
    grid-auto-flow: column;
    row-gap: 16px;
    max-width: 1200px;
  }

  &__decoration {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("/footer-patitas.svg");
    background-size: cover;
    mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    -webkit-mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 1) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    z-index: 0;
  }

  &__made-by {
    background: linear-gradient(
      45deg,
      rgba(255, 250, 250, 0.07),
      rgba(255, 242, 242, 0.03) 100%
    );
    backdrop-filter: blur(128px);
    -webkit-backdrop-filter: blur(128px);

    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    color: #a9aaad;

    border: 1px solid rgba($color: #ae11f8, $alpha: 0.2);

    a {
      color: #a9aaad;

    }
  }

  &__social-media {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 35px;
    z-index: 2;
  }

  &__icon {
    height: 25px;
    width: 25px;
    color: #a9aaad;
    cursor: pointer;
    transition-duration: 0.3s;

    &:hover {
      color: #ae11f8;
    }
  }

  &__text {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    color: #a9aaad;
  }

  &__shorcuts {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 40px;

    a {
      color: #a9aaad;
      text-decoration: none;
      transition-duration: 0.3s;

      cursor: pointer;
      z-index: 2;
      &:hover {
        color: #ae11f8;
      }
    }
  }
}

@media (max-width: 1023px) {
  .footer {
    &__decoration {
      background-repeat: no-repeat;
      background-position-y: 100%;
      background-size: 150vh;
    }
    &__container {
      max-width: 500px;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      row-gap: 16px;
      grid-auto-flow: row;
      width: 90%;
      padding-top: 42px;
    }

    &__social-media {
      justify-content: start;
    }

    &__shorcuts {
      justify-content: start;
      display: grid;
      grid-template-rows: repeat(4, auto);
      margin-bottom: 56px;
      margin-top: 56px;
      row-gap: 40px;
    }

    &__made-by {
      padding-left: 10%;
      padding-right: 10%;
      padding-top: 13px;
      padding-bottom: 13px;
    }
  }
}
