.footer{
    background-color: #131416;

    &__container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 105px 148px 69px 148px;
        grid-auto-flow: column;
    }
  
    &__made-by{
        background-color: blue;
        border-top-right-radius: 16px;
        border-top-left-radius: 16px;
        padding-top: 8px;
        padding-bottom: 8px;
        text-align: center;
    }

    &__social-media{
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 35px;
    }

    &__icon{
        height: 25px;
        width: 25px;
        color: #A9AAAD;
    }

    &__shorcuts{
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 35px;
    }
}