@import "src/styles/_settings";

.banner {
  margin: auto;
  margin-top: 10%;
  margin-bottom: 8%;
  width: 80%;
  max-width: 1200px;
  height: auto;
  max-height: 289px;
  background-color: #5c62d6;
  display: flex;
  flex-direction: column;
  place-items: center;
  border-radius: 24px;
  position: relative;
  padding-top: 3%;
  padding-bottom: 3%;

  &__title {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 49px;
    margin-top: 0px;
    line-height: 120%;
    font-size: 40px;
    z-index: 3;
  }

  &__gradient {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 1;
    background: radial-gradient(#560073, #030406);
    border-radius: 24px;
    opacity: 0.6;
  }

  &__light {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 2;
  }

  &__button-container{
    z-index: 3;
  }
}

@media (max-width: 1023px) {
  .banner {
    margin-top: 125px;
    margin-bottom: 10%;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 90%;
    max-width: 500px;
    max-height: 300px;

    &__title {
      font-size: 24px;
      line-height: 42px;
      padding-left: 5%;
      padding-right: 5%;
      margin-bottom: 30px;
    }
    &__light {
      border-radius: 24px;
    }
  }
}
