@import "src/styles/_settings";

.banner {
  margin: auto;
  margin-top: 10%;
  margin-bottom: 8%;
  width: 80%;
  max-width: 1200px;
  height: auto;
  max-height: 289px;
  background-color: #5c62d6;
  display: flex;
  flex-direction: column;
  place-items: center;
  border-radius: 24px;
  position: relative;
  z-index: -2;
  padding-top: 3%;
  padding-bottom: 3%;

  &__title {
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 49px;
    margin-top: 0px;
    line-height: 120%;
    font-size: 40px;
  }

  &__gradient {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: -1;
    background: radial-gradient(#560073, #030406);
    border-radius: 24px;
    opacity: 0.6;
  }

  &__light {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: -1;
  }
}
